*{
    padding: 0px;
    margin:0px;
    outline:0px;
    border:0px;
}

body{
    cursor: url("assets/Marshmallow.cur"),auto;
    display:flex;
    flex-direction: column;
    height: 100vh;
    opacity: 1;
    background: url("assets/Colorful_Abstract_2020_High_Quality_Desktop_1680x1050.jpg");
}

.mainer, main, section, aside, header, footer{
    border-radius: 5px;
    margin:2px;
    opacity: 0.9;
}

h1, h2{
    font-family: 'Pacifico', cursive;    display: block;
    text-align: center;
    font-size: 2.0em;
    color:#eb963d;
    text-shadow: 0 0 3px #190500, 0 0 5px #fffcc0;
}
label, .fancy{
    margin:auto;
    font-family: 'Pacifico', cursive;    display: block;
    text-align: center;
    font-size: 1.0em;
    color:#eb963d;
    text-shadow: 0 0 3px #190500, 0 0 5px #fffcc0;
}
form{
    font-size: 1.2em;
}
a{
    text-decoration: none;
}

p{
    font-size: 50px;
    opacity: 0;
    text-shadow: 0 0 2px #631a08, 0 0 4px #dbd334;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header{
    display:flex;
    background: linear-gradient(#aca0da,#4a4852 45%,#000000);
    justify-content: center;
    flex: 0 1 10%;
}

main{
    display: flex;
    flex-direction: row;
    flex: 1 1 65%;
}

.mainer{
    display: flex;
    flex: 1 1 700px;
    justify-content: center;
    align-items: center;
    background: url(assets/animated-lighning-bolt-strike-storm-gif-1.gif);
}

.mainer img{
    max-width: 65%;
    border-radius: 50%;
}

.leftLink{
    background: url("assets/OrnateFeistyBumblebee-size_restricted.gif");
    background-size: 100% 100%;
    order:-1;
    flex: 1 2 12.5%;
    text-align: center;
    transition: all 1s ease;
    padding-top: 10%;
}

.leftLink p:hover{
    color:whitesmoke;
    opacity: 1;
    transition: all 1s ease;
    text-decoration: none;
}


.rightLink{
    background: url("assets/OrnateFeistyBumblebee-size_restricted.gif");
    background-size: 100% 100%;
    flex: 1 2 12.5%;
    text-align: center;
    padding-top: 13%;
}

.rightLink p:hover{
    color:whitesmoke;
    opacity: 1;
    transition: .4s ease-in-out;
    text-decoration: none;
}

footer img{
    height: 65px;
    flex: 0 1 15px;
    padding: 4px;
    margin:4px;
}

footer{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#000000,#190500);
    flex: 0 1 30%;
}

.skillList{
    display:flex;
    flex-flow:row wrap;
    align-content: space-between;
    justify-content: center;
}